body {
    margin: 0;
}

#content {
  position:fixed;
  top:0px;
  left:0px;
  bottom:0px;
  right:0px;
  width:100%;
  height:100%;
  border:none;
  margin:0;
  padding:0;
  overflow:hidden;
}

#error-msg {
  display: none;
  text-align: center;
}
